@require 'nib'

*
	-webkit-tap-highlight-color rgba(0,0,0,0)

body
	-webkit-touch-callout none
	-webkit-text-size-adjust none
	-webkit-user-select none



defaultMargin = 16px
toolbarHeight = 4 * defaultMargin
primaryBack = #d4213d
accentBack = #3d3d3d

html
body
	font-family Roboto, 'Helvetica Neue', sans-serif
	height 100%
	font-size 12px
	line-height defaultMargin

h1
h2
	line-height  1.2em
	margin-bottom .5em
	font-weight 500

h1
	font-size defaultMargin * 1.2
h2
	font-size defaultMargin

p
	margin-top 8px

a
	&
	&:hover
	&:active
		color inherit
		text-decoration inherit

a
button
	outline none

[fill]
	min-width 100%
	max-width 100%
	min-height 100%
	max-height 100%
	overflow hidden


[layout='column']
[layout='row']
	display flex

[layout='column']
	flex-direction column

[layout='row']
	flex-direction row

[flex]
	flex 1

.shadow-z1
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26)

.shadow-z2
	box-shadow 0px 8px 17px rgba(0, 0, 0, 0.2)




.primary
	color primaryBack
.accent
	color accentBack








buttonTheme(color)
	background white
	color color
	&.raised
		@extend .shadow-z1
		background color
		if dark(color)
			color white
		else
			color black

		&:active
		&:focus
			if dark(@background)
				background lighten(@background, 30%)
			else
				background darken(@background, 30%)

.button
	border none
	display block
	border-radius 3px
	box-sizing border-box
	margin 0
	padding 8px
	font-size 16px
	font-weight 500
	text-align center
	text-transform uppercase


	overflow ellipsis
	.text
		margin-left .5em
		&:first-child
			margin-left 0


	&.circle
		position: absolute

		&.top
			top defaultMargin

		&.bottom
			bottom defaultMargin

		&.left
			left defaultMargin

		&.right
			right defaultMargin

		border-radius 100%
		font-size 20px
		padding 12px
		line-height @font-size * 1.2
		width @line-height + @padding * 2
		height @width
		@extend .shadow-z1

	background rgba(black, 0)
	color inherit
	&:active
	&:focus
		background rgba(@background, .2)

	&.primary
		buttonTheme primaryBack
	&.accent
		buttonTheme accentBack








toolbarTheme(color)
	background color
	if dark(color)
		color white
	else
		color black

.toolbar
	background white
	&.primary
		toolbarTheme primaryBack
	&.accent
		toolbarTheme accentBack


	min-height toolbarHeight
	box-sizing border-box
	align-items center
	z-index 1
	@extend [layout='row']
	@extend .shadow-z1

	.os-ios.browser-unknown body > &:first-child
		padding-top 20px
		min-height @min-height + @padding-top

	.button
		min-height 48px
		height @min-height
		min-width (@min-height / 2)
		line-height @min-height


		i[class^="icon-"]
		i[class*=" icon-"]
			font-size (@min-height / 2)
			line-height @min-height


	.title
		@extend [flex]
		font-size 20px
		font-weight normal
		margin 0
		overflow ellipsis

	.button
	.title
		padding 0 16px

	.title ~ .button
		margin-left -16px

	&.small
		min-height: 0 !important
		padding: 8px 16px
		font-size: 1em
		line-height: 1em

.list
	.item
		.item-content
			padding 0 defaultMargin
			@extend [layout='row']
			.tile-left
				margin defaultMargin defaultMargin defaultMargin 0
				width 72px - defaultMargin * 2
				i[class^="icon-"]
				i[class*=" icon-"]
					font-size 40px


			.tile-content
				padding defaultMargin 0
				@extend [flex]

.content
	overflow auto
.padding
	padding defaultMargin

.divider
	border-top 1px solid rgba(black, .2)

.buttons
	padding 4px
	@extend [layout='row']
	.button
		margin @padding
		@extend [flex]

.table
	display table
	.row
		display table-row
		.column
			display table-cell
			vertical-align middle


.ballot
	margin-bottom 1rem

	input
		padding 0
		margin 0
		outline 0
		border 0

	.table
		width 100%

	.label
	.input
		padding-bottom 1rem

	.label
		padding-right 1rem

		h2
		p
			margin 0

		h2
			white-space nowrap

	.input
		input
			width 100%
			text-align right
			font-size 2.5rem
			box-sizing border-box
			padding 1rem
			border 1px solid rgba(0,0,0,.2)
			border-radius 3px
			-webkit-appearance none

			&.ng-invalid
				border-color rgba(255,0,0,.5)
				box-shadow 0 0 1px @border-color


.grid-list
	padding 0
	.grid-tile
		position relative
		width 32%
		float left
		margin-right ( 100% / 2 ) - ( 3 * @width / 2 )
		margin-bottom @margin-right

		&:nth-child(3n)
			margin-right 0

		&::before
			display block
			content ''
			padding-top 100%

		&.image
			img
				position absolute
				top 0
				left 0
				right 0
				left 0

		.grid-tile-footer
			position absolute
			bottom 0
			left 0
			right 0
			padding 1em
			background rgba(black, .3)
			color white


.placeholder
	&-empty
	&-loading
		opacity 1
		text-align center
		padding 4rem 1rem


.map-wrapper
	position relative
	overflow hidden
	min-height 100px
	min-width 100px

	map
		display block

	.mapImage
		position absolute
		&.ng-enter
		&.ng-leave
			transition opacity .5s
		&.ng-enter
		&.ng-leave.ng-leave-active
			opacity 0
		&.ng-leave
		&.ng-enter.ng-enter-active
			opacity 1


@keyframes progress
	0%
		transform translateX(-100%)
	100%
		transform translateX(200%)

.progress-linear.top.fixed
	position relative
	z-index 10
	height 0
	line-height 0
	&::before
		content ''
		position absolute
		top 0
		left 0
		width 50%
		height 4px
		background saturate(primaryBack, 100%)
	&:not(.ng-enter)::before
		animation progress .5s infinite
