@require 'nib'

*
	-webkit-tap-highlight-color rgba(0,0,0,0)

body
	-webkit-touch-callout none
	-webkit-text-size-adjust none
	-webkit-user-select none

/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px)*/

header
	padding 10px
	a
		display inline-block
		padding 10px
		margin 10px

.os-ios.browser-unknown
	body > md-toolbar
		padding-top 20px
		min-height 64px + @padding-top

		&.md-tall
			height 128px + @padding-top
			min-height @height
			max-height @height

		&.md-medium-tall
			height 88px + @padding-top
			min-height @height
			max-height @height


.map-wrapper
	position relative
	overflow hidden

	.mapImage
		position absolute
		&.ng-enter
		&.ng-leave
			transition opacity .5s
		&.ng-enter
		&.ng-leave.ng-leave-active
			opacity 0
		&.ng-leave
		&.ng-enter.ng-enter-active
			opacity 1

[class^="icon-"]
[class*=" icon-"]
	font-size 24px

md-progress-linear
	&.fixed-top
		height 0
		.md-container
			top 0
			z-index 1
			opacity .8
			transform translate(0, -5px) scale(1, 0)
			&.md-ready
				transform translate(0) scale(1)

.md-toolbar-tools
	.md-tools
		&.ng-enter
		&.ng-leave
			transition opacity .5s

		&.ng-enter
		&.ng-leave.ng-leave-active
			opacity 0

		&.ng-leave
		&.ng-enter.ng-enter-active
			opacity 1


	BACK-BUTTON-WIDTH = 38px
	.md-tools.back
		width BACK-BUTTON-WIDTH
		margin-right 24px
		margin-left -6px
		&.ng-enter
		&.ng-leave
			display block
			position relative
			overflow visible
			box-sizing border-box
			transition all .5s
			i
				position relative

		&.ng-enter
		&.ng-leave.ng-leave-active
			width 0
			margin-right 0
			padding-right 0
			transform translateX(- BACK-BUTTON-WIDTH * 2)

		&.ng-leave
		&.ng-enter.ng-enter-active
			margin-right 24px
			padding-right 6px
			width BACK-BUTTON-WIDTH
			transform translateX(0)


a
	&
	&:hover
	&:active
		color inherit
		text-decoration inherit


.md-tile-left
	min-width 72px
	md-icon
		font-size 32px
		line-height @font-size
		width @font-size
		height @font-size
		padding 16px
		.md-font
			font-size inherit

.md-toolbar-tools
	.md-title
		overflow ellipsis