mixin input(model)
	input(ng-model=model, type='tel', required, ng-pattern='/^[0-9]+$/')

.controller(ng-controller='BallotController as ctrl', layout='column', flex)
	.progress-linear.top.fixed(ng-if="ctrl.loading")
	.view-switch(ng-switch='subview', layout='column', flex)
		.subview(ng-switch-default, flex).content
			.padding
				section.ballot
					h1 Wypełnij wyniki kandydatów
					.table
						.row(ng-repeat='option in ctrl.ballot.options')
							.column.label
								h2.name {{option.split(' ')[0]}}
								p.small {{option.split(' ').slice(1).join(' ')}}
							.column.input
								+input('ctrl.result.votesCountPerOption[$index]')
				section.ballot
					h1 Wypełnij informacje o głosowaniu
					.table
						.row
							.column.label Liczba wyborców uprawnionych
							.column.input
								+input('ctrl.result.votersEntitledCount')
						.row
							.column.label Liczba wyborców, którym wydano karty
							.column.input
								+input('ctrl.result.ballotsGivenCount')
						.row
							.column.label Liczba oddanych głosów
							.column.input
								+input('ctrl.result.votesCastCount')
						.row
							.column.label Liczba głosów ważnych
							.column.input
								+input('ctrl.result.votesValidCount')
			.divider
			.buttons
				a.button(ng-href='#/wards/{{ctrl.communityCode}}/{{ctrl.wardNo}}/ballots/{{ctrl.ballot.no}}/photos', promised-fn='ctrl.sendResult()')
					span.text dalej

		.subview(ng-switch-when='photos', layout='column', flex)
			.content.padding(flex)
				section.photos
					h1 Zrób zdjęcia protokołu
					.buttons
						button.button(ng-click='ctrl.takePhoto(true)')
							i.icon-photo-library
							span.text wybierz zdjęcie
						button.button(ng-click='ctrl.takePhoto()')
							i.icon-photo-camera
							span.text zrób zdjęcie
				section.photos(ang-if='ctrl.images.length')
					.grid-list
						.grid-tile(ng-repeat='image in ctrl.images').image
							img(ng-src='{{image.src}}')
							.grid-tile-footer(ng-if='!image.res.$resolved') przesyłam...
						.grid-tile.image
							img(ng-src='http://www.redisbad.pl/design/_gallery/_600_600_3/2088.jpg')
							.grid-tile-footer(ng-if='!image.res.$resolved') przesyłam...
						.grid-tile.image
							img(ng-src='http://www.fightershop.com.pl/foto/news/big/e02c2e1f446f505891d57f894fd72ae4.jpg')
							.grid-tile-footer(ng-if='!image.res.$resolved') przesyłam...
						.grid-tile.image
							img(ng-src='http://www.redisbad.pl/design/_gallery/_600_600_3/2088.jpg')
							.grid-tile-footer(ng-if='!image.res.$resolved') przesyłam...
						.grid-tile.image
							img(ng-src='http://www.fakt.pl/m/Repozytorium.Obiekt.aspx/-690/-550/faktonline/634823084269907731.jpeg')
						.grid-tile.image
							img(ng-src='http://www.redisbad.pl/design/_gallery/_600_600_3/2088.jpg')
			.divider
			.buttons
				a.button(ang-if='ctrl.images.length', ng-href='#/wards/{{ctrl.communityCode}}/{{ctrl.wardNo}}/ballots/{{ctrl.ballot.no}}/share', promised-fn='ctrl.sendResult()')
					span.text zakończ

		.subview(ng-switch-when='share')
			.content.padding
				section.share
					h1 Podziel się
					.buttons
						button.button.facebook
							span.text facebook
						button.button.twitter
							span.text twitter

			.buttons
				a.button(ng-if='ctrl.data.selectedWards.length > 1', ng-href='#/wards')
					span.text inne obwody w pobliżu
				a.button(ng-href='#/voting')
					span.text powrot do mapy






