.controller(ng-controller='VotingsController as ctrl')
	.list
		a(
			ng-repeat='voting in ctrl.data.votings'
			ng-href='#/wards/{{voting.date}}'
			ng-class="{'selected': voting.date != ctrl.data.selectedVoting}"
		).item
			.item-content
				.tile-left
					i.icon-event.primary
				.tile-content
					h2 {{voting.date | amDateFormat:'LL'}}
					p {{voting.description}}