.controller(ng-controller='WardsController as ctrl',flex, layout="column")
	.progress-linear.top.fixed(ng-if='ctrl.data.selectedWards.length && ctrl.data.wardsLoading')
	.content(flex, ng-if='ctrl.data.selectedWards.length')
		.list
			a(ng-repeat='ward in ctrl.data.selectedWards', ng-href='#/wards/{{ward.communityCode}}/{{ward.no}}').item
					.item-content
						.tile-left
							i.icon-place.primary
						.tile-content
							h2 {{ward.label}}
							p {{ward.address}}


	.placeholder-loading(flex, ng-if='!ctrl.data.selectedWards.length', layout="column", layout-align="center center", us-spinner)
		h1.md-body-1(ng-if='ctrl.locationPending') Oczekuję na lokalizacje...
		h1.md-body-1(ng-if='ctrl.data.wardsLoading') Pobieram listę lokali...

