md-content(ng-controller='WardController as ctrl', flex, layout="column").md-padding
	mixin subview(name)
		div(ng-switch-when=name, flex, layout="column")
			div(ng-include="'/templates/" + name + ".html'", flex, layout="column")

	div(ng-switch='subview', flex, layout="column")
		div(ng-switch-default)
			md-list: md-item(ng-repeat='ballot in ctrl.data.ballots')
				md-item-content
					.md-tile-left
						md-icon(md-font-icon='icon-description').md-primary.md-hue-3
					a(ng-href='#/wards/{{ctrl.communityCode}}/{{ctrl.wardNo}}/ballots/{{ballot.no}}').md-tile-content
						p.md-caption {{ballot.question}}

		+subview('ballot')
