section(ng-controller='WardsController as ctrl',flex, layout="column")
	md-progress-linear.md-accent(ng-if='ctrl.data.selectedWards.length && ctrl.data.wardsLoading', md-mode="indeterminate").fixed-top
	md-content(flex, ng-if='ctrl.data.selectedWards.length')
		md-list
			a(ng-repeat='ward in ctrl.data.selectedWards', ng-href='#/wards/{{ward.communityCode}}/{{ward.no}}')
				md-item
					md-item-content
						.md-tile-left
							md-icon(md-font-icon='icon-place').md-primary.md-hue-3
						.md-tile-content
							h3.md-title {{ward.label}}
							p.md-caption {{ward.address}}


	section.placeholder-loading(flex, ng-if='!ctrl.data.selectedWards.length', layout="column", layout-align="center center")
		md-progress-circular(md-mode="indeterminate").md-primary
		h1.md-body-1(ng-if='ctrl.locationPending') Oczekuję na lokalizacje...
		h1.md-body-1(ng-if='ctrl.data.wardsLoading') Pobieram listę lokali...


	md-divider
	div.buttons(layout="row", layout-align="center center")
		md-button(flex, ng-href='#/voting')
			//md-icon(md-font-icon='icon-map')
			span znajdź lokal wyborczy na mapie

